################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShoppingCart/CartDemo/Views/Cart/Index.cshtml
